*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  font-family: 'Roboto', 'Segoe UI', 'Arial', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.head {
  background-color: rgb(172,9,164);
  background-image: linear-gradient(90deg, rgba(191,3,95,1) 0%, rgba(153,12,233,1) 100%);
  background-size: 150% auto;
  background-position: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .back {
  padding: 20px 10px;
  color: #fff;
  transition: .5s;
  cursor: pointer;
}

.navbar .back.hidden {
  width: 0;
  padding: 0;
  opacity: 0;
}

.navbar .brend {
  transition: .5s;
  flex-grow: 0;
  z-index: 1000;
}

.navbar .back.hidden + .brend {
  flex-grow: 1;
}

.navbar .brend a {
  display: inline-block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
}

.navbar button {
  display: none;
  padding: 5px;
}

.navbar .menu {
  z-index: 2000;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.navbar ul li a.active {
  color: #000;
}


@media (max-width: 768px) {

  .navbar button {
    display: block;
  }

  .navbar.open .collapse {
    transform: translateX(-280px);
  }

  .navbar .collapse {
    position: fixed;
    background: #222;
    top: 0;
    bottom: 0;
    right: -280px;
    width: 280px;
    transition: .5s;
    overflow-y: auto;
  }

  .navbar ul {
    flex-direction: column;
  }

}


.products {
  display: flex;
  flex-wrap: wrap;
}

.products .product {
  padding: 20px;
  flex: 1 0 33.33%;
}


.spinner {
  text-align: center;
  padding: 20px 0;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #999 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}